.frameChild,
.haveAProject {
  position: relative;
}
.frameChild {
  height: 59px;
  width: 294px;
  border-radius: var(--br-lgi);
  background-color: var(--color-darkslateblue-300);
  display: none;
}
.sendMessage {
  position: relative;
  font-size: var(--font-size-lgi-7);
  font-family: var(--font-inter);
  color: var(--color-white);
  text-align: center;
  z-index: 1;
}
.frameWrapper,
.rectangleParent {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
}
.rectangleParent {
  cursor: pointer;
  border: 0;
  padding: var(--padding-lg) var(--padding-55xl-5) var(--padding-mid);
  background-color: var(--color-darkslateblue-300);
  border-radius: var(--br-lgi);
  justify-content: flex-start;
  white-space: nowrap;
}
.rectangleParent:hover {
  background-color: var(--color-darkslateblue-200);
}
.frameWrapper {
  align-self: stretch;
  justify-content: center;
  padding: 0 var(--padding-xl);
}
.haveAProjectLetsChatParent,
.industInner {
  display: flex;
  align-items: flex-start;
  max-width: 100%;
}
.haveAProjectLetsChatParent {
  width: 503px;
  flex-direction: column;
  justify-content: flex-start;
  gap: var(--gap-32xl);
}
.industInner {
  width: 1369px;
  flex-direction: row;
  justify-content: center;
  text-align: center;
  font-size: var(--font-size-21xl-2);
  color: var(--color-darkslateblue-100);
  font-family: var(--font-inter);
}
@media screen and (max-width: 825px) {
  .haveAProject {
    font-size: var(--font-size-13xl);
  }
  .haveAProjectLetsChatParent {
    gap: var(--gap-6xl);
  }
}
@media screen and (max-width: 450px) {
  .haveAProject {
  }
  .rectangleParent {
    padding-left: var(--padding-xl);
    padding-right: var(--padding-xl);
    box-sizing: border-box;
  }
}
