.ourStrongNetwork {
  align-self: stretch;
  position: relative;
  font-weight: 800;
}
.solarSystem89668571Icon {
  width: 93px;
  position: relative;
  height: 93px;
  object-fit: cover;
}
.throughWhichOur {
  margin: 0;
}
.weHave300Container {
  position: relative;
}
.weHave300DistributorsThroWrapper {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  padding: var(--padding-3xs);
}
.luxury150258081Parent,
.solarSystem89668571Parent {
  display: flex;
  flex-direction: row;
  align-items: flex-end;
  justify-content: flex-start;
  gap: var(--gap-smi);
}
.luxury150258081Parent {
  align-items: center;
}
.vectorIcon {
  width: 79px;
  position: relative;
  height: 79px;
}
.vectorWrapper {
  width: 99px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: var(--padding-3xs);
  box-sizing: border-box;
}
.frameParent {
  align-self: stretch;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  gap: 41px;
  text-align: left;
  font-size: var(--font-size-base-3);
  color: var(--color-black);
  font-family: var(--font-itim);
}
.ourStrongNetworkParent {
  position: absolute;
  width: 92.65%;
  top: 688px;
  right: 4.22%;
  left: 3.13%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  gap: 81px;
}
.slideChild {
  position: absolute;
  height: 84.44%;
  width: 100%;
  top: 15.56%;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: var(--color-lightpink);
}
.slideItem {
  position: absolute;
  height: 31.12%;
  width: 15.17%;
  top: 0;
  right: 41.01%;
  bottom: 68.88%;
  left: 43.82%;
  border-radius: 50%;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
  object-fit: cover;
}
.iAmGrateful {
  margin-block-start: 0;
  margin-block-end: 6.73px;
}
.iAmGratefulContainer,
.sahilKumar {
  position: absolute;
  top: 43.23%;
  left: 6.46%;
  letter-spacing: 0.02em;
}
.sahilKumar {
  width: 8.57%;
  top: 75.79%;
  left: 47.19%;
  font-size: var(--font-size-2xs-1);
  line-height: 120.94%;
  display: flex;
  font-family: var(--font-inter);
  align-items: center;
  justify-content: center;
}
.slide1 {
  position: absolute;
  height: 100%;
  width: 100%;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}
.property1defaultChild {
  position: absolute;
  height: 5.48%;
  width: 11.24%;
  top: 82.13%;
  right: 42.98%;
  bottom: 12.39%;
  left: 45.79%;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
}
.property1default {
  position: absolute;
  top: 20px;
  left: 20px;
  width: 712px;
  height: 347px;
}
.property1default1,
.property1default2,
.property1default3 {
  position: absolute;
  top: 20px;
  left: 856px;
  width: 712px;
  height: 347px;
}
.property1default2,
.property1default3 {
  left: 1692px;
}
.property1default3 {
  left: 2528px;
}
.slide,
.slideWrapper {
  width: 3260px;
  height: 387px;
}
.slide {
  position: absolute;
  top: 0;
  left: 0;
  border-radius: var(--br-8xs);
  border: 1px dashed var(--color-blueviolet);
  box-sizing: border-box;
  overflow: hidden;
}
.slideWrapper {
  position: relative;
}
.groupWrapper {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: flex-start;
  justify-content: center;
}
.frameDiv {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
}
.frameChild {
  width: 43px;
  position: relative;
  border-radius: var(--br-8xs);
  background-color: #08fe6a;
  height: 3px;
}
.slide5 {
  width: 712px;
  position: relative;
  height: 347px;
  text-align: center;
  font-size: var(--font-size-lgi);
  color: var(--color-black);
  font-family: var(--font-inika);
}
.frameContainer,
.rectangleParent {
  display: flex;
  align-items: center;
  justify-content: center;
}
.rectangleParent {
  flex: 1;
  flex-direction: column;
  gap: 60px;
  text-align: left;
  font-size: 47.8px;
  color: rgba(0, 0, 0, 0.9);
  font-family: var(--font-inter);
}
.frameContainer {
  width: 4875px;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 903px;
}
.clientInner,
.frameWrapper {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  justify-content: flex-end;
}
.clientInner {
  position: absolute;
  width: 283.28%;
  top: 51px;
  right: 28.76%;
  left: -212.04%;
  align-items: flex-start;
  justify-content: flex-start;
  padding: var(--padding-3xs) 0;
  box-sizing: border-box;
  font-size: var(--font-size-lgi);
  color: var(--color-black);
  font-family: var(--font-inika);
}
.frameIcon {
  position: absolute;
  top: 434px;
  left: -1506px;
  width: 70px;
  height: 70px;
  overflow: hidden;
}
.client {
  width: 100%;
  position: relative;
  background-color: var(--color-white);
  height: 1117px;
  zoom: 0.8;
  overflow: hidden;
  text-align: center;
  font-size: 32.5px;
  color: rgba(0, 0, 0, 0.8);
  font-family: var(--font-inter);
}
@media screen  and (max-width: 704px){
  .client{
    height: 1350px;
  }

  
}
@media screen  and (max-width: 302px){
  .client{
    height: 1750px;
  }

  
}


