.frameChild {
    position: absolute;
    top: 0;
    left: 0;
    width: 1728px;
    height: 747px;
    object-fit: cover;
  }
  .leftArrowBackup2SvgrepocoIcon,
  .rightArrowBackup2SvgrepocIcon {
    position: absolute;
    top: 344px;
    left: 1577px;
    width: 60px;
    height: 60px;
    overflow: hidden;
    cursor: pointer;
    z-index: 1;
  }
  .leftArrowBackup2SvgrepocoIcon {
    left: 91px;
  }
  .rectangleParent {
    position: absolute;
    top: 192px;
    left: 0;
    width: 1728px;
    height: 747px;
  }
  .frameItem {
    align-self: stretch;
    width: 1321px;
    position: relative;
    background-color: var(--color-dimgray);
    display: none;
    max-width: 100%;
  }
  .aLookAt {
    height: 106px;
    position: relative;
    display: inline-block;
    z-index: 1;
  }
  .rectangleGroup {
    position: absolute;
    top: 512px;
    left: 203px;
    background-color: var(--color-dimgray);
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: flex-start;
    padding: 1px 0 0 2px;
    box-sizing: border-box;
    max-width: 100%;
    z-index: 1;
    text-align: left;
    font-size: 87.7px;
    color: var(--color-white);
    font-family: var(--font-inter);
  }
  .macbookPro164 {
    width: 100%;
    height: 1117px;
    position: relative;
    background-color: var(--color-white);
    overflow: hidden;
    letter-spacing: normal;
  }
  @media screen and (max-width: 767px) {
    .aLookAt {
      font-size: 44px;
    }
  }
  @media screen and (max-width: 450px) {
  }