.frameChild {
    position: absolute;
    top: 0;
    left: 0;
    width: 100vw;
    height: 747px;
    object-fit: cover;
  }
  .leftArrowBackup2SvgrepocoIcon,
  .leftArrowBackup2SvgrepocoIcon1 {
    position: absolute;
    top: 352px;
    left: 91px;
    width: 60px;
    height: 60px;
    overflow: hidden;
    cursor: pointer;
    z-index: 1;
  }
  .leftArrowBackup2SvgrepocoIcon1 {
    left: 1577px;
    object-fit: contain;
  }
  .rectangleParent {
    height: 747px;
    flex: 1;
    position: relative;
    max-width: 100%;
  }
  .macbookPro161 {
    width: 100vw;
    position: relative;
    background-color: var(--color-white);
    overflow: hidden;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: flex-start;
    z-index: -1;
  }